<center>
  <h1>The <font color="#E64848">Dictionary</font></h1>
  <h3>
  Welcome :: This is a simple dictionary app
</h3>
  <br>
  <b>First:</b>
   Enter a word.
  <br>
  <b>Second:</b>
  After submitting, click on the word to then add a definition!
  <br>
  <b>Third:</b>
   Admire!
  <br>
  <br>
  <br>
<form action="/new_word" method="post">
  <div class="form-group">
    <label for "word_input">Enter your word here:</label>
    <input id="word_input" name="word_input" class="form control" type="text" placeholder="i.e. Platypus">
  </div>
  <br>
  <button type="submit" class="btn-danger">Add Word</button>
</form>
<br>
<br>
</center>
<hr>
Here is the total list of words in this dictionary:
<ul>
  <% @word_entries.each() do |word_entry| %>
  <li><a href="/details/<%= word_entry.id() %>"><%= word_entry.name() %></a></li>
  <% end %>
</ul>
